@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {

  --bs-blue: var(--color-blue);
  --bs-indigo: var(--color-indigo);
  --bs-purple: var(--color-purple);
  --bs-pink: var(--color-pink);
  --bs-red: var(--color-red);
  --bs-orange: var(--color-orange);
  --bs-yellow: var(--color-yellow);
  --bs-green: var(--color-green);
  --bs-teal: var(--color-teal);
  --bs-cyan: var(--color-cyan);
  --bs-white: var(--color-white);
  --bs-gray: var(--color-gray);
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: var(--color-blue);
  --bs-secondary: var(--color-blue);
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: var(--color-primary-rgb);
  --bs-secondary-rgb: var(--color-secondary-rgb);
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: var(--color-white-rgb);
  --bs-black-rgb: var(--color-black-rgb);
  --bs-body-color-rgb: var(--color-default-rgb);
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: var(--font-default);
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--font-default);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: var(--color-default);
  --bs-body-bg: #fff;

}


:root {

  /* Fonts */
  --font-default: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  /* Colors */
  /* The *-rgb color names are simply the RGB converted value of the corresponding color for use in the rgba() function */

  /* Default text color */
  --color-default: #1a1f24;
  --color-default-rgb: 26, 31, 36;

  /* Defult links color */
  --color-links: #3279fc;
  --color-links-hover: #4797ff;

  /* Primay colors */
  --color-primary: #3279fc;
  --color-primary-light: #4797ff;
  --color-primary-dark: #1c61e2;

  --color-primary-rgb: 50, 121, 252;
  --color-primary-light-rgb: 71, 151, 255;
  --color-primary-dark-rgb: 28, 97, 226;

  /* Secondary colors */
  --color-secondary: #5670a0;
  --color-secondary-light: #6e87b6;
  --color-secondary-dark: #3b5380;

  --color-secondary-rgb: 86, 112, 160;
  --color-secondary-light-rgb: 110, 135, 182;
  --color-secondary-dark-rgb: 59, 83, 128;

  /* General colors */
  --color-blue: #0d6efd;
  --color-blue-rgb: 13, 110, 253;

  --color-indigo: #6610f2;
  --color-indigo-rgb: 102, 16, 242;

  --color-purple: #6f42c1;
  --color-purple-rgb: 111, 66, 193;

  --color-pink: #f3268c;
  --color-pink-rgb: 243, 38, 140;

  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;

  --color-orange: #fd7e14;
  --color-orange-rgb: 253, 126, 20;

  --color-yellow: #ffc107;
  --color-yellow-rgb: 255, 193, 7;

  --color-green: #059652;
  --color-green-rgb: 5, 150, 82;

  --color-teal: #20c997;
  --color-teal-rgb: 32, 201, 151;

  --color-cyan: #0dcaf0;
  --color-cyan-rgb: 13, 202, 240;

  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;

  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;

  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  
}
/*splash**/


.splash{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color:#0dcaf0;
  z-index: 200;
  color:black;
  background-image:var(--color-red);
  text-align: center;
  line-height:90vh;
  

}
.splash.display-none{
  position: fixed;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height:90vh;
  

}


@keyframes fadeIn {
  to{
          opacity: 1;
  }
  
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}




/****end**/
.navbar-collapse ul li {
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  
  

}



/**h1, h2, h3, h4, h5, h6, b,p {
  font-family:"Raleway", sans-serif;
  
}**/



.navbar-collapse{
  justify-content: center;
  font-weight: 800;
  


}


/**Call to action--------------------------------------------------------------*/
.cta {
padding: 0;
margin-bottom: 60px;
}
.cta .container {
padding: 80px;
background: rgba(var(--color-secondary-rgb), 0.1);
border-radius: 15px;
}
@media (max-width: 992px) {
.cta .container {
padding: 60px;
}
}
.cta .content h3 {
color: var(--color-secondary);
font-size: 35px;
font-weight: 700;
}
.cta .content h3 em {
font-style: normal;
position: relative;
}
.cta .content h3 em:after {
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 10px;
height: 10px;
background: rgba(var(--color-primary-rgb), 0.5);
z-index: -1;
}
.cta .content p {
color: var(--color-secondary);
font-weight: 600;
font-size: 10px;
}
.cta .content .cta-btn {
color: var(--color-white);
font-weight: 500;
font-size: 16px;
display: inline-block;
padding: 12px 40px;
border-radius: 5px;
transition: 0.5s;
margin-top: 10px;
background: rgba(var(--color-primary-dark-rgb), 0.9);
}
.cta .content .cta-btn:hover {
background: var(--color-primary);
}
.cta .img {
position: relative;
}
.cta .img:before {
content: "";
position: absolute;
inset: 0;
background: rgba(var(--color-white-rgb), 0.5);
border-radius: 15px;
transform: rotate(12deg);
}
.cta .img:after {
content: "";
position: absolute;
inset: 0;
background: rgba(var(--color-white-rgb), 0.9);
border-radius: 15px;
transform: rotate(6deg);
}
.cta .img img {
position: relative;
z-index: 3;
border-radius: 15px;
}


/**on focus**/
onfocus {
padding: 0;
}
.onfocus .video-play {
min-height: 400px;
background: linear-gradient(rgba(var(--color-black-rgb), 0.4), rgba(var(--color-black-rgb), 0.2)), url('./assets/black.jpg') center center;
background-size: cover;
}
.onfocus .content {
background: linear-gradient(rgba(var(--color-secondary-rgb), 0.5), rgba(var(--color-secondary-rgb), 0.8)), url('./assets//onfocus-content-bg.jpg') center center;
background-size: cover;
color: rgba(var(--color-white-rgb), 0.8);
padding: 40px;
}
@media (min-width: 768px) {
.onfocus .content {
padding: 80px;
}
}
.onfocus .content h3 {
font-weight: 600;
font-size: 32px;
color: var(--color-white);
}
.onfocus .content ul {
list-style: none;
padding: 0;
}
.onfocus .content ul li {
padding-bottom: 10px;
}
.onfocus .content ul i {
font-size: 20px;
padding-right: 4px;
color: var(--color-primary);
}
.onfocus .content p:last-child {
margin-bottom: 0;
}
.onfocus .content .read-more {
font-family: var(--font-primary);
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
padding: 12px 24px;
border-radius: 5px;
transition: 0.3s;
display: -nline-flex;
align-items: center;
justify-content: center;
color: var(--color-white);
background: var(--color-primary);
}
.onfocus .content .read-more i {
font-size: 18px;
margin-left: 5px;
line-height: 0;
transition: 0.3s;
}
.onfocus .content .read-more:hover {
background: rgba(var(--color-primary-rgb), 0.9);
padding-right: 19px;
}
.onfocus .content .read-more:hover i {
margin-left: 10px;
}
.onfocus .play-btn {
width: 94px;
height: 94px;
background: radial-gradient(var(--color-primary) 50%, rgba(var(--color-primary-rgb), 0.4) 52%);
border-radius: 50%;
display: block;
position: absolute;
left: calc(50% - 47px);
top: calc(50% - 47px);
overflow: hidden;
}
.onfocus .play-btn:before {
content: "";
position: absolute;
width: 120px;
height: 120px;
-webkit-animation-delay: 0s;
animation-delay: 0s;
-webkit-animation: pulsate-btn 2s;
animation: pulsate-btn 2s;
-webkit-animation-direction: forwards;
animation-direction: forwards;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-timing-function: steps;
animation-timing-function: steps;
opacity: 1;
border-radius: 50%;
border: 5px solid rgba(var(--color-primary-rgb), 0.7);
top: -15%;
left: -15%;
background: rgba(198, 16, 0, 0);
}
.onfocus .play-btn:after {
content: "";
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-40%) translateY(-50%);
width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 15px solid var(--color-white);
z-index: 100;
transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.onfocus .play-btn:hover:before {
content: "";
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-40%) translateY(-50%);
width: 0;
height: 0;
border: none;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-left: 15px solid var(--color-white);
z-index: 200;
-webkit-animation: none;
animation: none;
border-radius: 0;
}
.onfocus .play-btn:hover:after {
border-left: 15px solid var(--color-primary);
transform: scale(20);
}

@-webkit-keyframes pulsate-btn {
0% {
transform: scale(0.6, 0.6);
opacity: 1;
}
100% {
transform: scale(1, 1);
opacity: 0;
}
}

@keyframes pulsate-btn {
0% {
transform: scale(0.6, 0.6);
opacity: 1;
}
100% {
transform: scale(1, 1);
opacity: 0;
}
}



/**featured**/



.featured-services .service-item {
padding: 30px;
transition: all ease-in-out 0.4s;
background: var(--color-white);
height: 100%;
}
.featured-services .service-item .icon {
margin-bottom: 10px;
}
.featured-services .service-item .icon i {
color: var(--color-primary);
font-size: 36px;
transition: 0.3s;
}
.featured-services .service-item h4 {
font-weight: 600;
margin-bottom: 15px;
font-size: 24px;
}
.featured-services .service-item h4 a {
color: var(--color-secondary);
transition: ease-in-out 0.3s;
}
.featured-services .service-item p {
line-height: 24px;
font-size: 20px;
margin-bottom: 0;
}
.featured-services .service-item:hover {
transform: translateY(-10px);
box-shadow: 0px 0 60px 0 rgba(var(--color-secondary-rgb), 0.1);
}
.featured-services .service-item:hover h4 a {
color: var(--color-primary);
}

.pricing {
  background: rgba(var(--color-secondary-rgb), 0.04);
}
.pricing .pricing-item {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(var(--color-gray-rgb), 0.15);
  background: var(--color-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 4px solid var(--color-white);
  border-radius: 10px;
  overflow: hidden;
}
.pricing .pricing-header {
  background: linear-gradient(rgba(var(--color-secondary-rgb), 0.9), rgba(var(--color-secondary-rgb), 0.9)), url("../img/pricing-bg.jpg") center center;
  background-size: cover;
  text-align: center;
  padding: 40px;
  margin: -60px -40px 0;
}
.pricing h3 {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 36px;
  color: var(--color-white);
}
.pricing h4 {
  font-size: 48px;
  color: var(--color-white);
  font-weight: 400;
  font-family: var(--font-primary);
  margin-bottom: 0;
}
.pricing h4 sup {
  font-size: 28px;
}
.pricing h4 span {
  color: rgba(var(--color-white-rgb), 0.6);
  font-size: 24px;
}
.pricing ul {
  padding: 30px 0;
  list-style: none;
  color: var(--color-gray);
  text-align: left;
  line-height: 20px;
}
.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.pricing ul i {
  color: var(--color-primary);
  font-size: 36px;
  padding-right: 3px;
  line-height: 0;
}
.pricing ul .na {
  color: rgba(var(--color-gray-rgb), 0.5);
}
.pricing ul .na i {
  color: rgba(var(--color-gray-rgb), 0.5);
  font-size: 24px;
  padding-left: 4px;
}
.pricing ul .na span {
  text-decoration: line-through;
}
.pricing .buy-btn {
  display: inline-block;
  padding: 12px 40px;
  border-radius: 6px;
  color: var(--color-primary);
  transition: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  border: 1px solid var(--color-primary);
}
.pricing .buy-btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.pricing .featured {
  border-color: var(--color-primary);
}
.pricing .featured .pricing-header {
  background: linear-gradient(rgba(var(--color-primary-rgb), 0.9), rgba(var(--color-primary-rgb), 0.9)), url("../img/pricing-bg.jpg") center center;
}
.pricing .featured .buy-btn {
  background: var(--color-primary);
  color: var(--color-white);
}

